<h1>{{ teacher.teacher_name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:grade_student' teacher.teacher_id %}" method="post">
  {% csrf_token %}
{% for s in teacher.course_teached.course_students.all %}
  <input type="text" name="{{s.student_id}}"  value="{{s.student_name}}" readonly>
  <select name="grade{{s.student_id}}" size="1">
  <option value="O">O
  <option value="E">E
  <option value="A">A
  <option value="P">P
  <option value="D">D
  <option value="T">T
  </select>
  <br />
  {% endfor %}
  <input type="submit" value="Grade"/>
</form>
